<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script>
        function search() {
            var currentSearchQuery = '';
            var searchInput = document.getElementById("searchInput").value;
            currentSearchQuery = searchInput;
            $.ajax({
                url: '/api/hospital?search=' + searchInput,
                type: 'GET',
                data: {
                    searchInput: searchInput
                },
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                },
                success: function (data) {
                    $('#tblbody').empty();
                    // update your UI with the new data
                    data.Patients.forEach(patient => {
                        const row = `
                                        <tr ng-repeat="patient in patients | limitTo:pageSize:(currentPage - 1) * pageSize">

                                            <td>${patient.Id}</td>
                                            <td>${patient.FirstName + ' ' + patient.LastName}</td>
                                            <td>${patient.DOB}</td>
                                            <td>${patient.Gender}</td>
                                            <td>${patient.HealthIssues}</td>
                                            <td>${patient.Address}</td>
                                            <td>${patient.City}</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary" data-action="edit" data-id="${patient.Id}">
                                                    Edit
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger" data-action="delete" data-id="${patient.Id}">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    `;
                        $('#tblbody').append(row);

                    });
                    loadItems(1, currentSearchQuery);
                }
            });
        }
    </script>
</head>
<body class="m-5">
    <!--<span id="spanUsername" class="text-muted"></span>-->
    <div class="well">
        <input type="button" id="loadHospitalData" class="btn btn-success" value="Load Patient Data" />
        <button type="button" id="logoutbtn" class="navbar-nav btn btn-outline-danger ms-auto" data-bs-toggle="modal" data-bs-target="#LogoutConfirm">
            Logout<svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor" class="bi bi-box-arrow-right m-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
        </button>
    </div>
    <div id="divError" class="alert alert-danger collapse">
        <a id="linkclose" class="btn-close" href="#">&times;</a>
        <div id="divErrorText"></div>
    </div>
    <div class="well visually-hidden" id="divData">
        <div>
            <label for="searchInput">Search:</label>
            <input type="text" id="searchInput" onkeyup="search()" />
        </div>


        <table class="table table-hover table-bordered  justify-content-center text-center m-4 paginate" id="tbldata">
            <thead class="bg-secondary text-light">
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Health Issues</th>
                    <th>Address</th>
                    <th>City</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody class="bg-secondary bg-opacity-25" id="tblbody">
            </tbody>
        </table>
        <div id="pagination-container">
           
        </div>

    </div>

    <div class="modal" tabindex="-1" id="sessionmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Session Expired!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Please Close this message to Login Again!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="Deletemodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete!!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="No"></button>
                </div>
                <div class="modal-body">
                    <p>Do You Really Want to Delete ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery-3.6.4.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
       
        $(document).ready(function () {

            var currentSearchQuery = '';
            $('#linkclose').click(function () {
                $('#divError').hide('fade');
            });
            $('#spanUsername').text('Welcome ' + sessionStorage.getItem('username'));
            $('#logoutbtn').click(function () {
                sessionStorage.removeItem('accessToken');
                window.location.href = "login.html";
            });

            if (sessionStorage.getItem('accessToken') == null) {
                window.location.href = "login.html";
            }
            $('#sessionmodal').on('hidden.bs.modal', function () {
                window.location.href = "login.html";
            });
            
            $('#tbldata').on('click', 'button[data-action="edit"]', function () {
                var id = $(this).data('id');
                window.location.href = 'update.html?id=' + id;
            });
            $('#tbldata').on('click', 'button[data-action="delete"]', function () {
                var id = $(this).data('id');
                var url = `/api/hospital/${id}`;
                $('#Deletemodal').modal('show');
                $('#Deletemodal button.btn-success').click(function () {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (result) {
                            $('#loadHospitalData').click();
                            console.log(result);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    });
                });
            });
            $('#loadHospitalData').click(function () {
                $.ajax({
                    url: '/api/hospital',
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                    },
                    success: function (data) { 
                        $('#divData').removeClass('visually-hidden');
                        $('#tblbody').empty();
                        data.Patients.forEach(patient => {
                            const row = `
                                        <tr ng-repeat="patient in patients | limitTo:pageSize:(currentPage - 1) * pageSize">

                                            <td>${patient.Id}</td>
                                            <td>${patient.FirstName + ' ' + patient.LastName}</td>
                                            <td>${patient.DOB}</td>
                                            <td>${patient.Gender}</td>
                                            <td>${patient.HealthIssues}</td>
                                            <td>${patient.Address}</td>
                                            <td>${patient.City}</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary" data-action="edit" data-id="${patient.Id}">
                                                    Edit
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger" data-action="delete" data-id="${patient.Id}">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    `;
                            $('#tblbody').append(row);
                        });
                        $(function () {
                            loadItems(1);
                                $(document).on('click', '#pagination-container .pagination a', function (e) {
                                    e.preventDefault();
                                    var page = $(this).data('page');
                                    loadItems(page);
                                });
                        });

                        function loadItems(page) {

                            var itemsPerPage = 10;
                            var offset = (page - 1) * itemsPerPage;
                            $.ajax({
                                url: '/api/hospital?page=' + page,
                                type: 'GET',
                                headers: {
                                    'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')

                                },
                                success: function (result) {
                                    console.log(result.Patients);
                                    var items = result.Patients;
                                    var tbody = $('#tbldata tbody');
                                    tbody.empty();
                                    result.Patients.forEach(patient => {
                                        const row = `
                                        <tr ng-repeat="patient in patients | limitTo:pageSize:(currentPage - 1) * pageSize">

                                            <td>${patient.Id}</td>
                                            <td>${patient.FirstName + ' ' + patient.LastName}</td>
                                            <td>${patient.DOB}</td>
                                            <td>${patient.Gender}</td>
                                            <td>${patient.HealthIssues}</td>
                                            <td>${patient.Address}</td>
                                            <td>${patient.City}</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary" data-action="edit" data-id="${patient.Id}">
                                                    Edit
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger" data-action="delete" data-id="${patient.Id}">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    `;
                                        tbody.append(row);

                                    });
                                    var totalPages = result.TotalPages;
                                    updatePagination(page, totalPages);
                                }
                            });
                        }

                        function updatePagination(page, totalPages) {
                            var paginationContainer = $('#pagination-container');
                            paginationContainer.empty();
                            var ul = $('<ul>').addClass('pagination');
                            var displayPages = 5; // number of pages to display

                            if (totalPages > 1) {
                                if (page == 1) {
                                    ul.append($('<li>').addClass('page-item disabled').append($('<span>').addClass('page-link').text('Previous')));
                                } else {
                                    ul.append($('<li>').addClass('page-item').append($('<a>').addClass('page-link').attr('href', '#').data('page', page - 1).text('Previous')));
                                }

                                for (var i = 1; i <= totalPages; i++) {
                                    var li = $('<li>').addClass('page-item');
                                    if (i == page) {
                                        li.addClass('active');
                                        li.append($('<span>').addClass('page-link').text(i));
                                    } else {
                                        li.append($('<a>').addClass('page-link').attr('href', '#').data('page', i).text(i));
                                    }

                                    // only show first few pages and the last page
                                    if ((i <= displayPages || i == totalPages || (i >= page - 2 && i <= page + 2))) {
                                        ul.append(li);
                                    }

                                    // show ellipsis before the last page if not already displayed
                                    if (i == displayPages + 1 && totalPages > displayPages + 1) {
                                        ul.append($('<li>').addClass('page-item disabled').append($('<span>').addClass('page-link').text('...')));
                                    }
                                }

                                if (page == totalPages) {
                                    ul.append($('<li>').addClass('page-item disabled').append($('<span>').addClass('page-link').text('Next')));
                                } else {
                                    ul.append($('<li>').addClass('page-item').append($('<a>').addClass('page-link').attr('href', '#').data('page', page + 1).text('Next')));
                                }
                            }
                            paginationContainer.append(ul);
                        }

                    },
                    error: function (jqHRX) {
                        if (jqHRX.status == '401') {
                            $('#sessionmodal').modal('show');
                        }
                        else {
                            $('#divErrorText').text(jqHRX.responseText);
                            $('#divError').show('fade');
                        }
                    }
                });
            });
        });
    </script>
  
</body>
</html>
